{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="row">
        <!-- Optional profile picture -->
        <div class="col-md-4">
            <img src="#" alt="Your Name" class="img-fluid rounded-circle mb-4">
        </div>
        
        <!-- About Me Content -->
        <div class="col-md-8">
            <h1>About Me</h1>
            <p>
                Hi! I'm AJ Barnes, a passionate software developer based in St. Petersburg, Florida. I love building intuitive and dynamic embedded systems, applications, and websites.
            </p>
            <p>
                I am currently attending Colorado State University Global with a Bachelors of Science degree in Computer Science with plans to graduate in July 2025.
            </p>
            <p>
                When I'm not programming, I read non-fiction, attend college online, kayak, and ride my skateboard.
            </p>
            <p>Feel free to <a href="{% url 'contact_me' %}">reach out</a> if you'd like to connect!</p>
        </div>
    </div>

</div>
{% endblock %}
