{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <div class="row">
        <!-- Optional profile picture -->
        <div class="col-md-4">
            <!-- Oval Container (adjust width and height for size) -->
            <div style="width: 100%; height: 100%; overflow: hidden; border-radius: 50%;">
                <!-- Image (adjust width and height for size) -->
                <img src="{% static 'admin/img/AJ_building_tank.jpg' %}" alt="AJ Barnes" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
        </div>
        
        
        
        <!-- About Me Content -->
        <div class="col-md-8">
            <h1>About Me</h1>
            <p>
                Hi! I'm AJ Barnes, an aspiring software developer based in St. Petersburg, Florida. I love building intuitive and dynamic embedded systems, applications, and websites.
            </p>
            <p>
                I am currently attending Colorado State University Global with a Bachelors of Science degree in Computer Science with plans to graduate in July 2025.
            </p>
            <p>
                When I'm not programming, I read non-fiction, attend college online, kayak, and ride my skateboard.
            </p>
            <p>Feel free to <a href="{% url 'contact_me' %}">reach out</a> if you'd like to connect!</p>
        </div>
    </div>

</div>
{% endblock %}
