{% extends 'base.html' %}

{% block content %}

<div class="container">

    <br><br><br>

    <center>
        <h1>{{ context.project.title }}</h1>
    </center>

    <div class="project-content">
        <!-- Display the server-fetched code content here -->
        <pre><code class="cpp">{{ context.code_content }}</code></pre>
    </div>

</div>

<!-- Highlight.js library and styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        // Apply syntax highlighting on DOM loaded
        hljs.highlightAll();
    });
</script>

{% endblock %}
