{% extends "base.html" %}

{% block content %}
<style>
  /* Global styling */
  

  /* Resume Section */
  .resume {
    background-color: #232f42; /* Use the same background color as your home page */
    color: #fff;
    padding: 40px 30px; /* Adjust padding as needed */
    border-radius: 12px; /* Slightly increased for a more modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  }

  .resume h1 {
    font-size: 40px; /* Made slightly larger for emphasis */
    margin-bottom: 20px; /* Added space for visual separation */
  }

  .resume h2 {
    font-size: 28px; /* Adjust font size as needed */
    color: #fff; /* Text color */
  }

  .resume p {
    font-size: 19px; /* Small increase for readability */
    color: #fff; /* Text color */
  }

  .container mt-5 {
    color: #225ea8;
  }
</style>

    <div class="container mt-5">
        <!-- Contact Information -->
        <h1 class="mb-3">AJ Barnes</h1>
        <p><strong>Location:</strong> St. Petersburg, Florida</p>
        <p><strong>Email:</strong> andrewjbarnes94@gmail.com</p>
        <p><strong>GitHub:</strong> github.com/andrewjbarnes94</p>
        <hr>

        <!-- Education -->
        <h2>Education</h2>
        <h4>Colorado State University Global</h4>
        <p><strong>Degree:</strong> Bachelor of Science in Computer Science</p>
        <p><strong>Current GPA: </strong>  3.75</p>
        <p><strong>Graduation Date:</strong> July 2025</p>
        
            
        <hr>

        <!-- Experience -->
        <h2>Previous Work Experience</h2>
        <h4>Hine Automation - Manufacturing Technician 2</h4>
        <p><strong>Duration:</strong> September 2021 Year - Current</p>
        <ul>
            <li>Conduct comprehensive testing of robotic components and automation systems to ensure optimal functionality and performance.</li>
            <li>Collaborate closely with Quality Assurance (QA) to address and resolve any identified issues, ensuring products meet stringent quality standards.</li>
            <li>Implement test plans and manage testing schedules to meet project deadlines.</li>
            <li>Interface with customers to answer questions and explain technical details regarding robotic vacuum systems for troubleshooting and sales.</li>
            <li>Troubleshoot to resolve complex or intermittent problems in the field</li>
          </ul>

        <h4>Amazon - Amnesty Floor Monitor</h4>
        <p><strong>Duration:</strong> June 2020 - September 2021</p>
        <ul>
            <li>Monitor and maintain the smooth operation of automated systems, intervening manually when necessary to correct errors and ensure optimal productivity.</li>
            <li>Identify, report, and resolve system errors, using hands-on problem-solving skills to minimize downtime and maintain workflow.</li>
        </ul>
        <hr>

        <!-- Skills --> 
        <h2>Skills</h2>
            <p>
              Troubleshooting (Experience in identifying and resolving system errors in automated environments), Schematic Interpretation, 
              Documentation Comprehension, Empathetic, Effective Communication, Ambitious Drive, Team-Oriented, Novice Software 
              Development (Python, C++, Java), Web Development (Django, Flask), Hardware & IoT (Raspberry Pi, Arduino, ESP32)
            </p>
        <hr>
        <h2>Personal Projects</h2>
        <p>
          Automated RC Vehicle UI, Wi-Fi Enabled Drone with Computer Vision, DIY Catamaran Control System, 
          Inventory Management System, and Exploring Machine Learning Concepts
        </p>



    </div>
{% endblock %}
