{% extends "base.html" %}

{% block content %}
<style>
  /* Global styling */
  

  /* Resume Section */
  .resume {
    background-color: #232f42; /* Use the same background color as your home page */
    color: #fff;
    padding: 40px 30px; /* Adjust padding as needed */
    border-radius: 12px; /* Slightly increased for a more modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
  }

  .resume h1 {
    font-size: 40px; /* Made slightly larger for emphasis */
    margin-bottom: 20px; /* Added space for visual separation */
  }

  .resume h2 {
    font-size: 28px; /* Adjust font size as needed */
    color: #fff; /* Text color */
  }

  .resume p {
    font-size: 19px; /* Small increase for readability */
    color: #fff; /* Text color */
  }

  .container mt-5 {
    color: #225ea8;
  }
</style>

    <div class="container mt-5">
        <!-- Contact Information -->
        <h1 class="mb-3">AJ Barnes</h1>
        <p><strong>Location:</strong> St. Petersburg, Florida</p>
        <p><strong>Email:</strong> andrewjbarnes94@gmail.com</p>
        <p><strong>GitHub:</strong> github.com/andrewjbarnes94</p>
        <p><strong>LinkedIn:</strong> https://www.linkedin.com/in/andrew-barnes-063887216/</p>
        <hr>

        <!-- Experience -->
        <h2>Previous Work Experience</h2>
        <h4>Raje Technology Group, Saint Petersburg, FL - Controls Specialist II</h4>
        <p><strong>Duration:</strong> September 2021 Year - February 2024</p>
        <ul>
            <li>Work directly within software engineering team to support and deploy industrial control software to customer sites.</li>
            <li>Provided customer and field engineer technical support for Semiconductor equipment automation control software.</li>
            <li>Performed problem solving and root cause analysis.</li>
            <li>Performed comprehensive testing of robotic components and automation control systems to for optimal functionality and performance.</li>
            <li>Collaborate closely with Quality Assurance team address to identify and resolve issues as well as ensuring products maintain high quality standards.</li>
            <li>Design and implement equipment test plans as well as execute testing schedules and maintain project deadlines/commitments.</li>
            <li>Reported directly to Controls Engineering Manager and Technical support organization.</li>
          </ul>

        <h4>Amazon - Amnesty Floor Monitor</h4>
        <p><strong>Duration:</strong> June 2020 - September 2021</p>
        <ul>
            <li>Monitor and maintain operation of automated systems and intervene manually when necessary to correct errors and ensure optimal productivity.</li>
            <li>Identify, report, and resolve system errors, using hands-on problem-solving skills to minimize downtime and maintain workflow.</li>
        </ul>
        <hr>

        <!-- Education -->
        <h2>Education</h2>
        <h4>Colorado State University Global</h4>
        <p><strong>Degree:</strong> Bachelor of Science in Computer Science</p>
        <p><strong>Current GPA: </strong>  3.75</p>
        <p><strong>Graduation Date:</strong> July 2025</p>
        <p>Focused on robotics and artificial intelligence with emphasis on computing, system development, and mathematics.</p>
        <hr>

        <!-- Skills --> 
        <h2>Skills</h2>
            <p>
              Customer support, Technical Support, Software Support, Research, Manufacturing, Java, Python, JIRA, C++, 
              Clear communication, Ambitious, Goal-Oriented, Empathetic, Trustworthy, Integrity, Self-starter
            </p>



    </div>
{% endblock %}
